
body{
	margin: 0 ;
	height: 100vh;
	width: 100vw;
	display:flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	
}



.the-form{
	text-align: center;
	display: flex;
	flex-direction: column;
	gap: 20px;
}