<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>ProgettoFinale</display-name>
	<!-- Servlet Homepage -->
	<servlet>
		<servlet-name>Homepage</servlet-name>
		<servlet-class>it.etlabora.progetto.servlet.Homepage</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Homepage</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	<!-- Servlet login -->
	<servlet>
		<servlet-name>loginServlet</servlet-name>
		<servlet-class>it.etlabora.progetto.servlet.LogServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>loginServlet</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>

	<!-- Servlet SignUp -->
	<servlet>
		<servlet-name>signupServlet</servlet-name>
		<servlet-class>it.etlabora.progetto.servlet.SignupServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>signupServlet</servlet-name>
		<url-pattern>/signup</url-pattern>
	</servlet-mapping>
	<!-- Catalog -->
	<servlet>
		<servlet-name>catalogServlet</servlet-name>
		<servlet-class>it.etlabora.progetto.servlet.CatalogServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>catalogServlet</servlet-name>
		<url-pattern>/catalog</url-pattern>
	</servlet-mapping>
	<!-- Book Details -->
	<servlet>
		<servlet-name>bookDetails</servlet-name>
		<servlet-class>it.etlabora.progetto.servlet.BookDetails</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>bookDetails</servlet-name>
		<url-pattern>/bookDetails</url-pattern>
	</servlet-mapping>
	<!-- User Details createBook-->
	<servlet>
		<servlet-name>userDetails</servlet-name>
		<servlet-class>it.etlabora.progetto.servlet.UserDetailsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>userDetails</servlet-name>
		<url-pattern>/user-details</url-pattern>
	</servlet-mapping>
	
		<!-- createBook -->
	<servlet>
		<servlet-name>createBook</servlet-name>
		<servlet-class>it.etlabora.progetto.servlet.CreateBookServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>createBook</servlet-name>
		<url-pattern>/createBook</url-pattern>
	</servlet-mapping>

	
</web-app>